<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Daftar kontak</title>
</head>
<body>
	<h3>apiUrl: <p th:text="${apiUrl}" /> </h3>
	<table>
		<thead>
	        <tr>
	            <th> No. </th>
	            <th> Nomor HP </th>
	        </tr>
	    </thead>
	    <tbody>
	    	<tr th:each="kontak : ${kontaks}">
				<td><span th:text="${kontak.idKontak}"></span></td>
				<td><span th:text="${kontak.nomorHp}"></span></td>
			</tr>
	    </tbody>
	</table>
</body>
</html>